# Ignore Python virtual environments
.venv/
venv/
ENV/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.csv
*.pkl
*.h5
*.db
*.sqlite3
*.log

huggingface/
chroma/
*.parquet
*.jsonl

.env
